<!DOCTYPE html>
{% load static %}
<html lang="zxx" class="no-js">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{% static 'img/fav.png' %}">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta charset="UTF-8">
    <title>ecodomskotom</title>

    {% block styles %}

        {% block bootstap_style %}
            {% comment %}
            {% include 'inc/_bootsrap_style.html' %}
            {% endcomment %}

        {% endblock %}

        <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
        <!-- CSS ============================================= -->
        <link rel="stylesheet" href="{% static "css/linearicons.css" %}">
        <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">
        <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
        <link rel="stylesheet" href="{% static "css/magnific-popup.css" %}">
        <link rel="stylesheet" href="{% static "css/nice-select.css" %}">
        <link rel="stylesheet" href="{% static "css/animate.min.css" %}">
        <link rel="stylesheet" href="{% static "css/owl.carousel.css" %}">
        <link rel="stylesheet" href="{% static "css/main.css" %}">
    {% endblock %}

</head>
<body>

{% block header %}
    {% include 'inc/_header.html' %}
{% endblock %}

{% include 'inc/_start_banner.html' %}

{% block image_carusel %}
    {% include 'inc/_image_carusel.html' %}
{% endblock %}


{% block additional %}

    {% comment %}
    {% include 'inc/_time_wrapper_boots.html' %}
    {% endcomment %}

    {% include 'inc/_call_to.html' %}

    {% include 'inc/_home_about.html' %}

    {% include 'inc/_videoarea.html' %}

    {% include 'inc/_process.html' %}

    {% include 'inc/_testomial.html' %}

    {% include 'inc/_calltoaction.html' %}

{% endblock %}

{% include 'inc/_footer.html' %}

{% include 'inc/_base_scripts.html' %}
</body>
</html>