<div class="intervals">
    <div class="intervals-wrapper">
        <div class="interval disable" data-date-start="2023-02-15 11:00:00" data-date-end="2023-02-15 11:30:00"
             data-date-start-default="2023-02-15 11:00:00">11:00 - 11:30
        </div>
        <div class="interval disable" data-date-start="2023-02-15 11:30:00" data-date-end="2023-02-15 12:00:00"
             data-date-start-default="2023-02-15 11:30:00">11:30 - 12:00
        </div>
        <div class="interval disable" data-date-start="2023-02-15 12:00:00" data-date-end="2023-02-15 12:30:00"
             data-date-start-default="2023-02-15 12:00:00">12:00 - 12:30
        </div>
        <div class="interval disable" data-date-start="2023-02-15 12:30:00" data-date-end="2023-02-15 13:00:00"
             data-date-start-default="2023-02-15 12:30:00">12:30 - 13:00
        </div>
        <div class="interval disable" data-date-start="2023-02-15 13:00:00" data-date-end="2023-02-15 13:30:00"
             data-date-start-default="2023-02-15 13:00:00">13:00 - 13:30
        </div>
        <div class="interval disable" data-date-start="2023-02-15 13:30:00" data-date-end="2023-02-15 14:00:00"
             data-date-start-default="2023-02-15 13:30:00">13:30 - 14:00
        </div>
        <div class="interval disable" data-date-start="2023-02-15 14:00:00" data-date-end="2023-02-15 14:30:00"
             data-date-start-default="2023-02-15 14:00:00">14:00 - 14:30
        </div>
        <div class="interval disable" data-date-start="2023-02-15 14:30:00" data-date-end="2023-02-15 15:00:00"
             data-date-start-default="2023-02-15 14:30:00">14:30 - 15:00
        </div>
        <div class="interval disable" data-date-start="2023-02-15 15:00:00" data-date-end="2023-02-15 15:30:00"
             data-date-start-default="2023-02-15 15:00:00">15:00 - 15:30
        </div>
        <div class="interval disable" data-date-start="2023-02-15 15:30:00" data-date-end="2023-02-15 16:00:00"
             data-date-start-default="2023-02-15 15:30:00">15:30 - 16:00
        </div>
        <div class="interval disable" data-date-start="2023-02-15 16:00:00" data-date-end="2023-02-15 16:30:00"
             data-date-start-default="2023-02-15 16:00:00">16:00 - 16:30
        </div>
        <div class="interval" data-date-start="2023-02-15 16:30:00" data-date-end="2023-02-15 17:00:00"
             data-date-start-default="2023-02-15 16:30:00">16:30 - 17:00
        </div>
        <div class="interval" data-date-start="2023-02-15 17:00:00" data-date-end="2023-02-15 17:30:00"
             data-date-start-default="2023-02-15 17:00:00">17:00 - 17:30
        </div>
        <div class="interval" data-date-start="2023-02-15 17:30:00" data-date-end="2023-02-15 18:00:00"
             data-date-start-default="2023-02-15 17:30:00">17:30 - 18:00
        </div>
        <div class="interval" data-date-start="2023-02-15 18:00:00" data-date-end="2023-02-15 18:30:00"
             data-date-start-default="2023-02-15 18:00:00">18:00 - 18:30
        </div>
        <div class="interval" data-date-start="2023-02-15 18:30:00" data-date-end="2023-02-15 19:00:00"
             data-date-start-default="2023-02-15 18:30:00">18:30 - 19:00
        </div>
        <div class="interval" data-date-start="2023-02-15 19:00:00" data-date-end="2023-02-15 19:30:00"
             data-date-start-default="2023-02-15 19:00:00">19:00 - 19:30
        </div>
        <div class="interval" data-date-start="2023-02-15 19:30:00" data-date-end="2023-02-15 20:00:00"
             data-date-start-default="2023-02-15 19:30:00">19:30 - 20:00
        </div>
        <div class="interval" data-date-start="2023-02-15 20:00:00" data-date-end="2023-02-15 20:30:00"
             data-date-start-default="2023-02-15 20:00:00">20:00 - 20:30
        </div>
    </div>
</div>