<div class="p-3 m-0 border-0 bd-example bd-example-cssgrid">
    <div class="grid text-center">
      <div class="g-col-2">.g-col-6</div>
      <div class="g-col-2">.g-col-6</div>
      <div class="g-col-2">.g-col-6</div>
      <div class="g-col-2">.g-col-6</div>
      <div class="g-col-2">.g-col-6</div>
      <div class="g-col-2">.g-col-6</div>
      <div class="g-col-2">.g-col-6</div>
      <div class="g-col-2">.g-col-6</div>
      <div class="g-col-2">.g-col-6</div>
      <div class="g-col-2">.g-col-6</div>
      <div class="g-col-2">.g-col-6</div>
      <div class="g-col-2">.g-col-6</div>
      <div class="g-col-2">.g-col-6</div>
      <div class="g-col-2">.g-col-6</div>
      <div class="g-col-2">.g-col-6</div>
      <div class="g-col-2">.g-col-6</div>
      <div class="g-col-2">.g-col-6</div>
      <div class="g-col-2">.g-col-6</div>

    </div>
  </div>